@font-face{
    font-family: digital;
    src: url(./Technology.ttf);
}

.number{
    font-family: digital;
    font-size: 100px;
    text-align: center;
    font-style: normal;
    margin: 0%;
    padding: 0%;

}
.number1{
    font-family: digital;
    font-size: 60px;
    text-align: center;
    font-style: normal;
    margin: 0%;
    padding: 0%;
    position: relative;
    bottom: 80px;
    left: 45%;
    border: 1px lightgrey;
    background-color: lightgrey;
    width: 14%;

}
.max{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    position: relative;
    bottom: 125px;
    left: 56.5%;
}
.plus{
    position: relative;
    bottom: 215px;
    left: 59%;
}
.toss{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    margin: 0%;
    padding: 0%;
}
.box{
    border: 6px solid;
    width: 40%;
    margin-left: 30%;
    position: relative;
    top: 33px;
 }
 .rect{
    margin-left: 31%;
 }
.p1{
    font-size:large;
    position: relative;
    bottom: 45px;
    left: 490px;

    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.p2{
    font-size: large;
    position: relative;
    bottom: 83px;
    left: 900px;

    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.balance{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-align: center;
    margin: 0%;
    padding: 0%;
  }

h1 {
    font-family: 'Permanent Marker';font-size: 32px;
    display: flex;
    margin-left: 5%;
    /* width: 398px;
    height: 67px; */
    

}
.nanumpen{
        font-family: "Nanum Pen Script", cursive;
        font-weight: 400;
        font-style: normal;
        margin-left: 18%;
        font-size: 2em;
        margin-top: 1.80%;
        position: relative;
        top: 2px;
    
      }
      
.del1{
    font-family: "nanum pen screipt", cursive,;
    font-weight: 400;
    font-style: normal;
    margin-left: 5%;
    padding-top: 2%;
     font-size: 23px;
     position: relative;
     top: 6px;
}
.del2{
    font-family: "nanum pen screipt", cursive,;
    font-weight: 400;
    font-style: normal;
    margin-left: 2%;
    padding-top: 2%;
    font-size: 23px;
     position: relative;
     top: 6px;
}
.header{
    display: flex;
    justify-content: left;
    background-color: black;
    border-color: black;
    border-style: solid ;
    color: white;
    border-width: 2px;
    
    
}
.del3{
    border-style:solid ;
    border-color: white;
    background-color: white;
    color: black;
   border-radius: 10px;
    margin-left: 15%;
    padding-top: 0.50%;
}
.img{
    justify-content: center;
    margin-left: 6%;
    margin-top: 1.5%;
    background-color: black;
    
    
    
}